.result-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: fit-content;
        background-image: url('D:\MY USERS\Aditya\ENGINEERING\EXTRA\IPL\ipl_match_pred\ipl_winner_predictor\images\result-bg2.avif');
        background-size: 100% 100%;
        object-fit: cover;
        z-index: 1;
        animation: grow-blow 2s ease;
        animation-fill-mode: forwards;
}

@keyframes grow-blow {
        0% {
                height: 0vh;
        }

        100% {
                height: 100vh;
        }
}


header {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: 5;
        color: white;
}

footer {
        z-index: 10;
        left: 0%;
}


.team1,
.team2 {
        position: absolute;
        border-radius: 50%;
        bottom: 9rem;
        background: yellow;
        z-index: 10;
        width: 11rem;
        height: 11rem;
        animation-name: color-palate;
        animation-iteration-count: infinite;
        animation-duration: .8s;
        animation-timing-function: ease;
        animation-direction: alternate;
}

.team1 {
        left: 29rem;
        background: url('../../images/Mumbai_Indians.jpg');
        background-size: 90% 90%;
        object-fit: cover;
}

.team2 {
        right: 29rem;
        background: green;
        animation-delay: .8s;
        background: url('../../images/Sunrisers_Hyderabad.jpg');
        background-size: cover;
        object-fit: contain;
}

.team_focus {
        filter: drop-shadow(0 0 3rem rgb(113, 56, 184));
}

@keyframes color-palate {
        from {
                transform: scale(1.2);
                filter: saturation(100%) drop-shadow(0 0 3rem rgb(113, 56, 184));
                box-shadow: 0 0 3rem 1rem rgba(225, 222, 222, 0.56);

        }

        to {

                filter: grayscale(100%) blur(2px);
                transform: scale(1);
        }
}

.button-wrapper canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
}

.result-text {
        position: absolute;
        top: 38vh;
        left: 42vw;
        color: white;
        font-size: 1.6rem;
        background: blue;
        width: 16%;
}

.probab1,
.probab2 {
        position: absolute;
        top: 88%;
        color: #1d1a21;
        font-size: 1.6rem;
}

.probab1 {
        left: 30%;
}

.probab2 {
        right: 30%;
}


.stuck {
        animation: none !important;
        transform: scale(1.1);
}

.blur {
        animation: none !important;
        filter: blur(2px) !important;
}